.Ests-listo-para-poner-a-prueba-tus-conocimientos {
    display: flex;
    justify-content: space-between; /* Asegura el espacio entre el contenido y la imagen */
    align-items: center;
    width: 100%;
    font-family: Nunito;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color: #004c84;
    margin: 0;
}

.text-container {
    width: 60%; /* Para que ocupe la mitad del contenedor */
}

.Inicia-con-un-examen-diagnstico-que-te-permitir-conocer-tu-nivel-actual-y-descubrir-en-qu-reas-n {
    width: 792px;
    font-family: Nunito;
    font-size: 30px;
    text-align: center;
    color: #000;
    margin: 10px auto 20px; /* Ajustado para centrar y reducir márgenes */
}

.Rectangle-63 {
    width: 430px;
    height: 59px;
    margin: 20px auto;
    padding: 11.5px 23.9px 20.1px 19.4px;
    border-radius: 15px;
    background-color: #004c84;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.image-48 {
    width: 35%; /* Para que ocupe la mitad del contenedor */
    display: flex;
    justify-content: center; /* Centra la imagen dentro del contenedor */
    align-items: center;
}

.image-48 img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.Rectangle1 {
    width: 1600px;
    height: 450px;
    margin: 41px 35px 46px 49px;
    padding: 28px 54px 26px 37px;
    border-radius: 30px;
    box-shadow: 0 16px 32px -8px rgba(12, 12, 13, 0.4);
    background-color: #237bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Toda-la-gua-de-estudios-ms-accesible-que-nunca {
    width: 100%;
    height: 60px;
    font-family: Nunito;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.columns-container {
    display: flex;
    gap: 3%; /* Ajusta el espacio proporcional entre columnas */
    width: 100%;
    margin-bottom: 40px;
}

.column {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.NombreMateria {
    width: 100%;
    height: 45px;
    padding: 3.5px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    font-family: Outfit;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #004c84;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Accede-container {
    text-align: center; /* Centra el contenido dentro del contenedor */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido y el botón al centro */
    justify-content: center;
    gap: 20px; /* Espacio entre el texto y el botón */
}

.Accede-al-contenido-oficial-del-examen-de-manera-clara-y-estructurada-Organiza-tu-estudio-revisa-l {
    width: 100%;
    font-family: Nunito;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.Empieza-a-aprender1 {
    width: 386.7px;
    height: 59px;
    font-family: Nunito;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #004c84;
    border-radius: 15px;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Asegura que el texto esté centrado en el botón */
    align-items: center; /* Alinea verticalmente el texto en el centro del botón */
}

.icono-materia {
    width: 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 30px;
}

.Nombre {
   
    font-family: Nunito;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #004c84;
  }

.Nombre2 {
   
    font-family: Nunito;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #004c84;
  }

  .columns-content-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Rectangle2 {
    width: 1600px;
    height: 450px;
    margin: 41px 35px 46px 49px;
    padding: 28px 54px 26px 37px;
    border-radius: 30px;
    box-shadow: 0 16px 32px -8px rgba(12, 12, 13, 0.4);
    background-color: #d77d71;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Empieza-a-aprender2 {
    width: 386.7px;
    height: 59px;
    font-family: Nunito;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #d77d71;
    border-radius: 15px;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Asegura que el texto esté centrado en el botón */
    align-items: center; /* Alinea verticalmente el texto en el centro del botón */
}

.Toda-la-gua-de-estudios-ms-accesible-que-nunca {
    font-family: Nunito;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.columns-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Accede-container2 {
    width: 48%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Accede-al-contenido2 {
    font-family: Nunito;
    font-size: 30px;
    color: #fff;
}

.Empieza-a-aprender2 {
    width: 386.7px;
    height: 59px;
    font-family: Nunito;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #d77d71;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.progress-image {
    width: 40%; /* Ajusta según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 15px;
}

.Rectangle3 {
    width: 1600px;
    height: 450px;
    margin: 41px 35px 46px 49px;
    padding: 28px;
    border-radius: 30px;
    box-shadow: 0 16px 32px -8px rgba(12, 12, 13, 0.4);
    background-color: #71d7a0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra todo el contenido verticalmente */
    text-align: center;
}

.Toda-la-gua-de-estudios-ms-accesible-que-nunca3 {
    font-family: Nunito;
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.Accede-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.Accede-al-contenido3 {
    font-family: Nunito;
    font-size: 30px;
    color: #fff;
    max-width: 80%; /* Limita el ancho del texto para mejor legibilidad */
}

.Unirse-comunidad {
    width: 386.7px;
    height: 59px;
    font-family: Nunito;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color:#71d7a0;
    border-radius: 15px;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio entre el texto y el botón */
}

.Rectangle4 {
    width: 1600px;
    height: 450px;
    margin: 41px 35px 46px 49px;
    padding: 28px 54px 26px 37px;
    border-radius: 30px;
    box-shadow: 0 16px 32px -8px rgba(12, 12, 13, 0.4);
    background-color:  #71d7d7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Empieza-a-aprender4 {
    width: 386.7px;
    height: 59px;
    font-family: Nunito;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color:  #71d7d7;
    border-radius: 15px;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Asegura que el texto esté centrado en el botón */
    align-items: center; /* Alinea verticalmente el texto en el centro del botón */
}

.Toda-la-gua-de-estudios-ms-accesible-que-nunca4 {
    font-family: Nunito;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.columns-container4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Accede-container4 {
    width: 48%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Accede-al-contenido4 {
    font-family: Nunito;
    font-size: 30px;
    color: #fff;
}


.image-container {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.progress-image {
    width: 40%; /* Ajusta según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 15px;
}
