.accordion{
    &-materias{
        @include tablet{
            @include grid(2, 1rem $separacion);
            align-items: start;
            grid-auto-rows: auto;
        }
    }
}

.accordion-item{
    height: auto;
    overflow: hidden;
    border: none;
    &-materias{
        border-radius: 2rem !important;
        box-shadow: 0 .3rem .2rem $gris;
    }
    margin-bottom: 2rem;

    .accordion-header{
        padding: 1rem;
        margin: 0;
        display: flex;
        align-items: center;
        .accordion-button{
            &:focus{
                box-shadow: none;
            }
            &[aria-expanded="true"]{
                border-bottom: .2rem solid $gris;
            }
            font-size: 2rem;
            font-weight: 700;
            color: $azulOscuro;
            background-color: transparent;
            
            &::after{
                width: 2rem;
                height: 2rem;
                background-image: url("/src/img/download.svg");
                background-size: 2rem;
            }
        }
    }
}

.accordion-body{
    margin-left: 2rem;
}

.accordion-subject{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:hover{
        text-decoration: underline;
        p{
            color: $azulOscuro;
        }
    }
}

.form-check-input{
    width: 2rem;
    height: 2rem;
    border: .2rem solid $azulClaro;
}