/* Menú lateral */
.menu-lateral {
    width: 250px;
    background-color: #f3f3f3;
    padding: 20px;
}

.materia {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
}

.preguntas-examen {
    display: none;
    margin-left: 10px;
}

.pregunta-examen {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    cursor: pointer;
}

/* Estado contestada */
.pregunta.contestada {
    background-color: #004c84;
    color: white;
}

/* Contenido del examen */
.contenido-examen {
    background-color: #EDF3FE;
    box-shadow: 0 0.5rem 1rem $gris;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20px auto; /* Centrar el contenedor horizontalmente con margen arriba y abajo */
    border-radius: 10px; /* Bordes redondeados */
    min-width: 1200px; /* Limita el ancho máximo */
    min-height: 500px; /* Altura mínima para mantener el diseño */
    padding: 20px; /* Espaciado interno para el contenido */
    display: flex;
    flex-direction: column;

    /* Para garantizar el espacio inicial */
    justify-content: flex-start; /* Alinear preguntas al inicio */
}


#cronometro {
    font-size: 18px;
    margin-bottom: 20px;
}

.opciones button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
}

.d-flex2 {
    display: flex; /* Alinear el menú y el contenido horizontalmente */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    
}

.imagen-pregunta {
    max-width: 20%; // Escala la imagen para que quepa en el contenedor
    height: auto;
    display: block; // Asegura que la imagen se muestre correctamente
    margin: 10px auto; // Centra la imagen
}

.imagen-opcion {
    max-width: 100%;
    height: auto;
    display: inline-block; // Asegura que las imágenes en opciones se muestren
    margin-right: 10px; // Espaciado entre las opciones
}



/* Estilos para los cuadros de los exámenes simulacro */
.Rectangle-50 {
    width: 613px;
    height: 78px;
    flex-grow: 0;
    margin: 0 0 10px;
    padding: 0 11px 0 18px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  
  /* Estilos para la imagen al lado del texto */
  .letra-2 {
    width: 61px;
    height: 64px;
    flex-grow: 0;
    margin: 25px 12px 10px 0;
  }
  
  /* Estilos para el texto del examen simulacro */
  .Examen-simulacro-1 {
    width: 296px;
    height: 70px;
    flex-grow: 0;
    margin: 50px 34px 0 12px;
    font-family: Outfit, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    color: #004c84;
  }
  
  /* Estilos para el botón de iniciar */
  .Iniciar {
    width: 181px;
    height: 50px;
    flex-grow: 0;
    margin: 14px 0 14px 34px;
    font-family: Outfit, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #004c84;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  